<h5>マイページ</h5>


<strong><h5>登録情報</h5></strong>

<%= form_with model: @customer, url: edit_public_customer_path do |f| %>

  <div class = "table">
    <%= f.submit "編集する", class: "btn btn-sm btn-success" %>
  </div>

<% end %>
